<p>
  <strong>Nombre comercial:</strong>
  <%= @provider.nombre_comercial %>
</p>
 
<p>
  <strong>Contacto:</strong>
  <%= @provider.nombre_contacto %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @provider.password %>
</p>

<%= link_to :Empresas_registradas, controller: 'providers' %>